.primary {
  color: var(--primary-color);
}

.inverted {
  color: var(--inverted-primary-color);
}

.error {
  color: var(--error-light);
}

.size_m {
  font: var(--font-l);
}

.size_l {
  font: var(--font-xl);
}
